html,
body {
  font-family: "Roboto", sans-serif;
  padding: 1.5em;
  background: #ecf0f3;
}

.m-t {
  margin-top: 1em;
}

.m-b {
  margin-bottom: 1em;
}

.info-color {
  position: absolute;
  width: 100%;
  height: 115px;
  background: #33b5e5;
}

.avatar {
  position: relative;
}
